{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script>
  htmx.config.useTemplateFragments = true;
</script>
{% endblock %}
{% block allcontent %}
<div id="content" class="container">
  <h2>Home: <a href="{% url 'index' %}">Project1233</a></h2>
  <div class="container">
    <div class="row">
    
      <div class="col col-lg-6">
        <h5>Add A Expense</h5>
        <div hx-get="{% url 'construction_Expense_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Expense List</h4>
        <div hx-get="{% url 'construction_Expense_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Investor</h5>
        <div hx-get="{% url 'construction_Investor_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Investor List</h4>
        <div hx-get="{% url 'construction_Investor_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Period</h5>
        <div hx-get="{% url 'construction_Period_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Period List</h4>
        <div hx-get="{% url 'construction_Period_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Project</h5>
        <div hx-get="{% url 'construction_Project_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Project List</h4>
        <div hx-get="{% url 'construction_Project_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Transaction</h5>
        <div hx-get="{% url 'construction_Transaction_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Transaction List</h4>
        <div hx-get="{% url 'construction_Transaction_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Unit</h5>
        <div hx-get="{% url 'construction_Unit_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Unit List</h4>
        <div hx-get="{% url 'construction_Unit_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}