# فایل‌های غیرضروری جنگو几十
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
venv/
*.env
*.env.production
*.env.development
*.env.test
*.env.local
*.log
.DS_Store
.vscode/

staticfiles/
temp_data/
backups/
database/local.sqlite3
