مستند نیازمندی ها و توضیحات پروژه
1. مقدمه
- مدیریت امور حسابداری سرمایه گذاران و مدیریت هزینه های پروژه ساختمانی 
2. معماری سیستم
- سمت سرور با استفاده از فریمورک Django در یک پروژه و یک اپلیکیشن جنگو
و سمت کاربر با استفاده از HTML/CSS و JavaScript 
3. رابط کاربری
- html و CSS برای طراحی صفحات وب و bootstrap برای طراحی واکنش‌گرا و استفاده از نمودار برای نمایش داده ها
منظور از پروژه یک ساختمان مسکونی چند طبقه است که در مدت زمان مشخص ساخته میشود ویژگیهای اصلی پروژه:
-تاریخ روز شروع(شمسی)
-تاریخ روز پایان(شمسی)
-لیست واحدها

هر پروژه شامل چندین واحد مسکونی است که هر واحد دارای ویژگی های زیر است:
- نام واحد
- متراژ
-حدود قیمت هر متر
-حدود قیمت نهایی
-مالک یا مالکها

منظور از سرمایه گذاران افرادی هستند که در پروژه سرمایه گذاری میکنند     
هر پروژه شامل چندین سرمایه گذار است که هر سرمایه گذار دارای ویژگی های زیر است:
-نام
-نام خانوادگی
-شماره تماس
-ایمیل
واحد یا واحدها میتوانند به چندین سرمایه گذار تعلق داشته باشند و هر سرمایه گذار میتواند در چندین واحد سرمایه گذاری کند-
لیست تراکنش ها


هر سرمایه گذار میتواند چندین تراکنش داشته باشد که هر تراکنش دارای ویژگی های زیر است:
-تاریخ(شمسی)
-مبلغ(تومان)
-توضیحات
-نوع: تراکنش یکی از ۳ نوع آورده یا خروج از سرمایه یا سود میباشد
نوع آورده یعنی سرمایه گذار پولی به پروژه اضافه میکند
نوع خروج از سرمایه یعنی سرمایه گذار پولی از پروژه برداشت میکند
نوع سود یعنی سرمایه گذار سود حاصل از آورده یا خروج از سرمایه را دریافت یا برداشت میکند
براساس نوع تراکنش مبلغ تراکنش میتواند مثبت یعنی بیشتر از صفر یا منفی یعنی کمتر از صفر باشد.
نوع تراکنش آورده مقادیر مثبت دارد.
نوع تراکنش خروج از سرمایه مقادیر منفی دارد.
نوع تراکنش سود اگر مربوط به آورده باشد مثبت و اگر مربوط به خروج از سرمایه باشد منفی است.
سود هر تراکنش به صورت اتوماتیک طبق فرمول زیر محاسبه میشود:
مبلغ * روزمانده تا پایان پروژه * نرخ سود روزمانده
در هر تراکنش فیلدی به نام روز مانده تا پایان پروژه وجود دارد که نشان میدهد چند روز تا پایان پروژه باقی مانده است. این فیلد به صورت خودکار محاسبه میشود و در صورت تغییر تاریخ پایان پروژه باید به روز شود. این مقدار از اختلاف تاریخ تراکنش با تاریخ پایان پروژه محاسبه میشود.
در هر تراکنش فیلدی به نام روز از ابتدای پروژه وجود دارد که نشان میدهد چند روز از شروع پروژه گذشته است. این فیلد به صورت خودکار محاسبه میشود و در صورت تغییر تاریخ شروع پروژه باید به روز شود. این مقدار از اختلاف تاریخ تراکنش با تاریخ شروع پروژه محاسبه میشود.
هر تراکنش فیلدی به نام داره دوره دارد. دوره به صورت ترکیبت ماه شمسی و سال شمسی است مثل مهر ۱۴۰۴

چند رکورد تراکنش برای مثال:

project_id,row_index,period_label,day_remaining,day_from_start,date_shamsi,date_gregorian,investor_name,entry_type,amount
آرشا3,2,مرداد 1402,1112,1,1402-05-16,2023-08-07,زهرا سادات آل یاسین,principal_deposit,1071802712.3591946
آرشا3,2,مرداد 1402,1112,1,1402-05-16,2023-08-07,زهرا سادات آل یاسین,profit_accrual,2000000000.0
آرشا3,3,مرداد 1402,1111,2,1402-05-17,2023-08-08,ندا آزاد داور,principal_deposit,26770971524.978985
آرشا3,3,مرداد 1402,1111,2,1402-05-17,2023-08-08,ندا آزاد داور,profit_accrual,50000000000.0
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,سکنا سامان,principal_deposit,80240625722.93431
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,سکنا سامان,profit_accrual,150000000000.0
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,ندا آزاد داور,principal_withdrawal,-2674687524.0978103
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,ندا آزاد داور,profit_accrual,-5000000000.0
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,حسین قاسم بیگلو,principal_deposit,2674687524.0978103
آرشا3,4,مرداد 1402,1110,3,1402-05-18,2023-08-09,حسین قاسم بیگلو,profit_accrual,5000000000.0
آرشا3,10,مرداد 1402,1104,9,1402-05-24,2023-08-15,زهرا سادات آل یاسین,principal_deposit,1596137852.218369
آرشا3,10,مرداد 1402,1104,9,1402-05-24,2023-08-15,زهرا سادات آل یاسین,profit_accrual,3000000000.0
آرشا3,11,مرداد 1402,1103,10,1402-05-25,2023-08-16,سکنا سامان,principal_deposit,18604740877.080357
آرشا3,11,مرداد 1402,1103,10,1402-05-25,2023-08-16,سکنا سامان,profit_accrual,35000000000.0
آرشا3,11,مرداد 1402,1103,10,1402-05-25,2023-08-16,حسین قاسم بیگلو,principal_deposit,770767836.3361862
آرشا3,11,مرداد 1402,1103,10,1402-05-25,2023-08-16,حسین قاسم بیگلو,profit_accrual,1450000000.0
آرشا3,15,مرداد 1402,1099,14,1402-05-29,2023-08-20,ندا آزاد داور,principal_withdrawal,-1059272644.6787364
آرشا3,15,مرداد 1402,1099,14,1402-05-29,2023-08-20,ندا آزاد داور,profit_accrual,-2000000000.0
آرشا3,15,مرداد 1402,1099,14,1402-05-29,2023-08-20,اکبر بی پروا,principal_deposit,1588908967.0181048



هر پروژه دارای تعدادی دوره است. دوره ها به صورت ترکیب ماه شمسی و سال شمسی هستند مانند فروردین ۱۴۰۲ و تیر ۱۴۰۳
از دوره های برای محاسبه هزینه ها استفاده میشود.
هر تراکنش نیز به یک دوره خاص تعلق دارد و این دوره در محاسبات مالی و گزارشات پروژه مورد استفاده قرار میگیرد.
هر رکورد دوره شامل فیلدهای زیر میباشد:
تاریخ شروع شمسی 
تاریخ پایان شمسی
نام یا عنوان دوره
سال شمسی
ماه شمسی
شماره ماه شمسی مانند:۱ برای فروردین و ۲ برای اردیبهشت و ۳ برای خرداد و ...
تاریخ شروع میلادی
تاریخ پایان میلادی
وزن: هر دوره دارای وزنی است که به صورت یک عدد صحیح نگهداری میشود.وزن دوره اول یعنی ابتدای پروژه بیشترین عدد است و دوره های بعدی هر کدام وزنشان یک عدد کمتر است. تا وزن آخرین دوره ۱ خواهد شد.
لیست دوره ها به صورت زیر است:
period_label,year,month_number,month_name,weight
مرداد 1402,1402,5,مرداد,37
شهریور 1402,1402,6,شهریور,36
مهر 1402,1402,7,مهر,35
آبان 1402,1402,8,آبان,34    
آذر 1402,1402,9,آذر,33
دی 1402,1402,10,دی,32
بهمن 1402,1402,11,بهمن,31
اسفند 1402,1402,12,اسفند,30
فروردین 1403,1403,1,فروردین,29
اردیبهشت 1403,1403,2,اردیبهشت,28
خرداد 1403,1403,3,خرداد,27
تیر 1403,1403,4,تیر,26
مرداد 1403,1403,5,مرداد,25
شهریور 1403,1403,6,شهریور,24
مهر 1403,1403,7,مهر,23
آبان 1403,1403,8,آبان,22
آذر 1403,1403,9,آذر,21
دی 1403,1403,10,دی,20
بهمن 1403,1403,11,بهمن,19
اسفند 1403,1403,12,اسفند,18
فروردین 1404,1404,1,فروردین,17
اردیبهشت 1404,1404,2,اردیبهشت,16
خرداد 1404,1404,3,خرداد,15
تیر 1404,1404,4,تیر,14
مرداد 1404,1404,5,مرداد,13
شهریور 1404,1404,6,شهریور,12
مهر 1404,1404,7,مهر,11
آبان 1404,1404,8,آبان,10
آذر 1404,1404,9,آذر,9
دی 1404,1404,10,دی,8
بهمن 1404,1404,11,بهمن,7
اسفند 1404,1404,12,اسفند,6
فروردین 1405,1405,1,فروردین,5
اردیبهشت 1405,1405,2,اردیبهشت,4
خرداد 1405,1405,3,خرداد,3
تیر 1405,1405,4,تیر,2
مرداد 1405,1405,5,مرداد,1


مدیریت هزینه ها
در این نرم افزار فقط مجموع هزینه های ماهانه ثبت و نگهداری میشود.
هزینه ها انواعی دارند از جمله:
    مدیر پروژه
    مسئول تأسیسات
    کارپرداز
    انباردار
    پیمان ساختمان
    امکان تعریف نوع هزینه جدید
دوره هزینه
خرید۱
فعالیت
لیست هزینه ها
	ماه	خرید	فعالیت	مدیر پروژه	مسئول تاسیسات	کار پرداز	انبار دار	پیمان ساخت	مجموع ماهیانه	تراز مالی کل
										
1402	مرداد	پرداخت هزینه خرید زمین	-	 252,950,000,000 	 -   		 -   	 2,615,000,000 	 255,565,000,000 	 255,565,000,000 
	شهریور	پرداخت هزینه خرید زمین	-	 95,000,000,000 	 -   		 -   	 950,000,000 	 95,950,000,000 	 351,515,000,000 
	مهر	-	انتقال سند	 5,961,000 	 -   		 -   	 596,100 	 6,557,100 	 351,521,557,100 
	آبان	پرداخت عوارض پروانه	اقدامات شهرداری جهت اخذ پروانه	 10,410,140,000 	 -   		 -   	 1,041,014,000 	 11,451,154,000 	 362,972,711,100 
	آدر	پرداخت فیش طراحی نظام مهندسی	حفر چاه آزمایشات خاک	 3,610,856,000 	 -   		 -   	 361,085,600 	 3,971,941,600 	 366,944,652,700 
	دی 	پیش خرید بتن	طراحی نقشه های مصوب و اجرایی	 25,273,670,000 	 -   		 -   	 2,527,367,000 	 27,801,037,000 	 394,745,689,700 
	بهمن	خرید میلگرد و آسانسور	پرداخت فیش نظارت نظام مهندسی و صدور پروانه	 68,729,382,000 	 -   		 1,047,105,000 	 6,977,648,700 	 76,754,135,700 	 471,499,825,400 
	اسفند	خرید کسری مبلگرد و سیم و کابل، تهیه نقشه اجرایی  و پرداخت هزینه نظارت	خاکبرداری و اجرای بتن مگر. تجهیز کارگاه و انبار، عقد قرارداد اسکلت و مسئول ایمنی	 25,513,980,000 	 -   		 1,552,937,000 	 2,706,691,700 	 29,773,608,700 	 501,273,434,100 
1403	فروردین	خرید کسری میلگرد، و مصالح	اجرای فنداسیون و ستون طبقه اول	 5,438,880,000 	 -   		 851,030,000 	 628,991,000 	 6,918,901,000 	 508,192,335,100 
	اردیبهشت 	خرید ورق و پیش خرید درب های چوبی اتاق و درب حریق و درب ضد سرقت	اجرای سقف اول و ستون سقف دوم	 30,210,052,000 	 -   		 969,105,000 	 3,117,915,700 	 34,297,072,700 	 542,489,407,800 
	خرداد	خرید کسری میلگرد، و مصالح. خرید لوازم برقی و درب، پرداخت انشعاب آب	اجرای سقف دوم و سقف سوم و دیوار کشی پارکینگ	 23,942,429,000 	 -   	 -   	 1,492,110,000 	 2,543,453,900 	 27,977,992,900 	 570,467,400,700 
	تیر 	خرید کسری میلگرد، و مصالح	اجرای سقف چهارم و سقف پنجم و شروع دیوار کشی طبقه اول	 12,363,499,000 	 -   	 -   	 2,090,120,000 	 1,445,361,900 	 15,898,980,900 	 586,366,381,600 
	مرداد	خرید درب و پنجره UPVC  و خرید کسری بتن	اجرای سقف ششم و خرپشته و دیوار کشی طبقه اول و دوم 	 13,827,483,000 	 -   	 -   	 3,088,122,000 	 1,691,560,500 	 18,607,165,500 	 604,973,547,100 
	شهریور	خرید کاشی و سرامیک + آهن آلات آسانسور	دیوار کشی طبقه سوم و چهارم +  شاسی کشی آسانسور	 19,196,732,000 	 -   	 -   	 1,890,263,000 	 2,108,699,500 	 23,195,694,500 	 628,169,241,600 
	مهر	خرید لوله های گاز و آتشتشانی و آب و فاضلاب	دیوار کشی طبقه پنجم و ششم +  شاسی کشی نما و شاسی کشی فاضلاب	 17,965,006,000 	 -   	 -   	 1,801,305,000 	 1,976,631,100 	 21,742,942,100 	 649,912,183,700 
	آبان	خرید چارچوب کف پهن اتاقها و کسری نبشی	تکمیل گاز کشی طبقات،  تاسیسات آب و فاضلاب، تکمیل  شاسی کشی پیرامونی و پلاستر سیمان پشت 	 10,305,434,000 	 -   	 86,850,000 	 2,047,971,000 	 1,244,025,500 	 13,684,280,500 	 663,596,464,200 
	آدر	خرید پنجره، لوله مسی و لیکا	ادامه دیوار کشی پیرامونی، اجرای تاسیات آب و فاضلاب و شروع تاسیسات برق	 30,968,399,000 	 -   	 17,940,000 	 2,075,743,000 	 3,306,208,200 	 36,368,290,200 	 699,964,754,400 
	دی 	خرید ایزوگام و 	اجرای رایزر آتشنشانی،تکمیل لوله کشی آب و فاضلاب. لوله کشی برق دیوار. دیوار کشی بام و خرپشته	 9,095,220,000 	 -   	 44,276,000 	 2,348,613,000 	 1,148,810,900 	 12,636,919,900 	 712,601,674,300 
	بهمن	خرید سنگ نما 	 لوله کشی برق کف ظبقات و دیوار کشی داکت تاسیسات	 29,511,370,000 	 -   		 2,876,026,000 	 3,238,739,600 	 35,626,135,600 	 748,227,809,900 
	اسفند	پرداخت قسط نقدی کمسیون  ماده صد و عوارض و بیمه، خرید سنگ راه پله و نما	تکمیل فاضلاب کل ساختمان، لوله کشی برق زیر کار، لوله مسی و دیوار چینی داکت ها	 88,723,144,000 	 -   	 -   	 3,203,475,000 	 9,192,661,900 	 101,119,280,900 	 849,347,090,800 
1404	فروردین	خرید ورق کانال کولر، ایزوگام و قیر و گچ زیرکار	اجرای فوم بتن طبقات و تکمیل شاسی کشی نما از داخل	 12,552,265,000 	 -   	 4,320,000 	 4,010,475,000 	 1,656,706,000 	 18,223,766,000 	 867,570,856,800 
	اردیبهشت 	خرید کسری آهن آلات نما	اجرای ایزوگام و قیر 2 طبقه.  اجرای کاشی و سرامیک طبقه 1	 5,982,633,000 		 51,197,000 	 4,750,913,000 	 1,078,474,300 	 11,863,217,300 	 879,434,074,100 
	خرداد	پیش خرید کناف سقف، پرداخت قسط اول کمسیون ماده صد شهرداری	گچ کاری طبقه 1 و 2   + کاشی کاری طبقه 1 تا 4- ایزوگام کف سرویس و آشپرخانه کل ظبقات. اجرای نما طبقه 1 و 2	 48,140,648,000 		 -   	 4,900,705,000 	 5,304,135,300 	 58,345,488,300 	 937,779,562,400 
	تیر 	خرید اوراق وام بانک مسکن	گچ کاری طبقه 3 و 4   + کاشی کاری طبقه 4 تا 6-. اجرای نما طبقه3 و 4. تکمیل سیمان کاری دیواره و کف بام و شروع کناف سقف	 34,561,011,000 		 -   	 3,830,000,000 	 3,839,101,100 	 42,230,112,100 	 980,009,674,500 
	مرداد		سفت کاری + نما						 11,000,000,000 	 991,009,674,500 
	شهریور		گچ کاری + کاشی سرامیک						 17,000,000,000 	 1,008,009,674,500 
	مهر		گچ کاری + کاشی سرامیک						 12,000,000,000 	 1,020,009,674,500 
	آبان		گچ کاری + کاشی سرامیک						 10,000,000,000 	 1,030,009,674,500 
	آدر		گچ کاری + کاشی سرامیک						 19,000,000,000 	 1,049,009,674,500 
	دی 		گچ کاری + کاشی سرامیک						 10,000,000,000 	 1,059,009,674,500 
	بهمن		تکمیل نازک کاری  طبقات						 10,000,000,000 	 1,069,009,674,500 
	اسفند		تکمیل نازک کاری  طبقات						 20,000,000,000 	 1,089,009,674,500 
1405	فروردین		تکمیل نازک کاری  پارکینگ						 10,000,000,000 	 1,099,009,674,500 
	اردیبهشت 		نصب تاسیسات برقی و مکانیکی						 10,000,000,000 	 1,069,009,674,500 
	خرداد								 20,000,000,000 	 1,089,009,674,500 
	تیر 								 20,000,000,000 	 1,109,009,674,500 
	مرداد		راه اندازی آسانسور و تحویل ساختمان						 30,000,000,000 	 1,129,009,674,500 
مجموع هزینه				 874,278,194,000 	 -   	 204,583,000 	 44,826,018,000 	 60,700,879,500 	1,179,009,674,500	

گزارشها
گزارش تراکنش های سرمایه گذاران
- نمایش لیست تراکنش ها بر اساس فیلترهای مختلف مانند تاریخ، نوع و سرمایه گذار و دوره
- امکان جستجو و مرتب سازی بر اساس فیلدهای مختلف

نمودار تراکنش ها
- نمایش نمودار تراکنش ها بر اساس فیلترهای مختلف مانند تاریخ، نوع و سرمایه گذار و دوره
- امکان مقایسه تراکنش ها در دوره های مختلف  

داشبورد سرمایه گذاران
یک صفحه داشبورد برای هر سرمایه گذار که شامل اطلاعات زیر است:
- خلاصه ای از وضعیت مالی سرمایه گذار
- نمایش تراکنش های اخیر
- نمودارهای تحلیلی برای بررسی عملکرد سرمایه گذاری
- امکان مشاهده جزئیات هر تراکنش

داشبورد پروژه:
یک صفحه داشبورد برای هر پروژه که شامل اطلاعات زیر است:
- خلاصه ای از وضعیت مالی پروژه
- نمودارهای تحلیلی برای بررسی عملکرد پروژه


گزارش هزینه:
-دوره
-مجموع هزینه های دوره
-تراز مالی کل: مجموع پروژه از ابتدا تا اکنون