
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'construction_Investor_list' %}">
    Investor Listing
    </a>
</p>
    
<table class="table">
    <tr><td>first_name</td><td>{{ object.first_name }}</td></tr>
    <tr><td>last_name</td><td>{{ object.last_name }}</td></tr>
    <tr><td>phone</td><td>{{ object.phone }}</td></tr>
    <tr><td>email</td><td>{{ object.email }}</td></tr>
    <tr><td>نوع مشارکت</td><td>{{ object.get_participation_type_display }}</td></tr>
    <tr><td>واحدها</td><td>
        {% if object.units.all %}
            {% for unit in object.units.all %}
                {{ unit.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            <span class="text-muted">هیچ واحدی انتخاب نشده</span>
        {% endif %}
    </td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}