
{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'construction_Period_list' %}">
    Period Listing
    </a>
</p>
    
<table class="table">
    <tr><td>عنوان دوره</td><td>{{ object.label }}</td></tr>
    <tr><td>سال شمسی</td><td>{{ object.year }}</td></tr>
    <tr><td>شماره ماه</td><td>{{ object.month_number }}</td></tr>
    <tr><td>نام ماه</td><td>{{ object.month_name }}</td></tr>
    <tr><td>وزن دوره</td><td>{{ object.weight }}</td></tr>
    <tr><td>تاریخ شروع (شمسی)</td><td>{{ object.start_date_shamsi|jformat:"%A، %d %B %Y" }}</td></tr>
    <tr><td>تاریخ پایان (شمسی)</td><td>{{ object.end_date_shamsi|jformat:"%A، %d %B %Y" }}</td></tr>
    <tr><td>تاریخ شروع (میلادی)</td><td>{{ object.start_date_gregorian }}</td></tr>
    <tr><td>تاریخ پایان (میلادی)</td><td>{{ object.end_date_gregorian }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}