
{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'construction_Project_list' %}">
    Project Listing...
    </a>
</p>
    
<table class="table">
    <tr><td>نام پروژه</td><td>{{ object.name }}</td></tr>
    <tr><td>تاریخ شروع (شمسی)</td><td>{{ object.start_date_shamsi|jformat:"%Y/%m/%d" }}</td></tr>
    <tr><td>تاریخ پایان (شمسی)</td><td>{{ object.end_date_shamsi|jformat:"%Y/%m/%d" }}</td></tr>
    <tr><td>تاریخ شروع (میلادی)</td><td>{{ object.start_date_gregorian }}</td></tr>
    <tr><td>تاریخ پایان (میلادی)</td><td>{{ object.end_date_gregorian }}</td></tr>
    <tr><td>تاریخ ایجاد</td><td>{{ object.created_at|jformat:"%Y/%m/%d - %H:%M" }}</td></tr>
    <tr><td>تاریخ به‌روزرسانی</td><td>{{ object.updated_at|jformat:"%Y/%m/%d - %H:%M" }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}