
{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'construction_Transaction_list' %}">
    Transaction Listing
    </a>
</p>
    
<table class="table">
    <tr><td>تاریخ (شمسی)</td><td>{{ object.date_shamsi|jformat:"%A، %d %B %Y" }}</td></tr>
    <tr><td>تاریخ (میلادی)</td><td>{{ object.date_gregorian }}</td></tr>
    <tr><td>مبلغ</td><td>{{ object.amount|floatformat:0 }} ریال</td></tr>
    <tr><td>نوع تراکنش</td><td>{{ object.get_transaction_type_display }}</td></tr>
    <tr><td>توضیحات</td><td>{{ object.description }}</td></tr>
    <tr><td>روزهای باقی‌مانده</td><td>{{ object.day_remaining }} روز</td></tr>
    <tr><td>روز از شروع</td><td>{{ object.day_from_start }} روز</td></tr>
    <tr><td>تاریخ ایجاد</td><td>{{ object.created_at|jformat:"%Y/%m/%d - %H:%M" }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}